body {
  --font-family: 'Noto Sans';
  --font-size: 16px;
  --font-weight: 400;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  text-decoration: underline;
  text-decoration-color: inherit;
  transition:
    opacity 200ms,
    text-decoration-color 200ms;
}

a:hover {
  text-decoration-color: transparent;
  opacity: 0.7;
}
